.game-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.question-container {
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDEF0;
    width: 800px;
}

.question {
    text-align: start;
    display: flex;
    color: #293264;
}

.answer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.answer {
    color: #293264;
    background-color: transparent;
    max-width: 220px;
    max-height: 100px;
    border-radius: 7px;
    border: 0.7px solid #4D5B9E;
    box-sizing: border-box;
    padding: 4px;
    font-family: Karla;
    font-size: .9em;
    text-align: start;
}

.answer.selected {
    background-color: #D6DBF5;
}

.answer:hover {
    box-shadow: 1px 1px #a9a9a9;
    cursor: pointer;
}

.btn-container {
    margin-top: 20px;
}